In [15]:
# day2
# 표준 출력
name = "홍길동"
age = 22
print("안녕하세요.", end = "")
print("홍길동입니다.")
print("2026", "02", "23", sep="-")

# 입력
name = input("이름을 입력하세요 : ")
print("안녕하세요.", name)

안녕하세요.홍길동입니다.
2026-02-23
안녕하세요. ghdrlfehd

In [22]:
#문제1
print("문장을 입력 해주세요: ", end="")
line = input()
print(line)

문장을 입력 해주세요: asdf

In [16]:
line = input("문장을 입력해 주새요.")
line = line.split(",")
print(line)
print(line[0])
print(line[1])
print(line[2])

['10', '                       20', '30']
10
                       20
30

In [18]:
line = input("문장입력").strip().split(",")
print(line)

['10', ' 20']

In [21]:
print("숫자 2개를 공백 기준으로 입력해주세요 : ", end = '')
line = input().strip().split(",")
print(int(line[0]) + int(line[1]))

숫자 2개를 공백 기준으로 입력해주세요 : 30

In [25]:
a, b, c = map(int, input("문장 입력").strip().split(","))
print(a + b + c)

60

In [28]:
age = 20

if age >= 20 :
    print("성인") 

if age < 20:
    print("미성년")

성인

In [30]:
num = 10

if num == 10:
    print("10 입니다.")
elif num == 20:
    print("20 입니다.")
elif num == 30:
    print("30 입니다.")

10 입니다.

In [31]:
num = 10

if num == 10:
    print("10 입니다.")
elif num == 20:
    print("20 입니다.")
elif num == 30:
    print("30 입니다.")
else:
    print("그외")

10 입니다.

In [32]:
age = 22

if age >= 20:
    print("성인입니다.")
else:
    print("미성년입니다.")

성인입니다.

In [ ]:
a = 10

# `==` => 같다.
if ( a == 10 ):
  print("참")

# `!=` => 같지 않다.
if ( a != 10 ):
  print("거짓")

if ( a > 10 ):
  print("거짓")

if ( a >= 10 ):
  print("참")

b = 10

if ( a == b ):
  print("참")

# c 에는 true or false 이 담긴다.
c = a != b # False

if ( c ):
  print("f")

if ( c == False ):
  print("t")

# `not` => 반전
if ( not c ):
  print("t")

if ( not(not c) ):
  print("f")

d = True

if ( c != d ):
  print("t")

if ( 10 > 5 and -6 > -10 and 10 != 10 ):
  print("f")

if ( 10 < 5 and -6 < -10 and 10 != 10 or 10 > 5 ):
  print("t")
# 문제끝

참
참
참
t
t
t
t

In [40]:
# 문제 : 10대, 20대, 30대 중 나이에 맞는 변수를 출력해주세요.

age = 32

print("== 정답 v1 ==")
if age >= 10 and age <= 19:
  print("10대")
if age >= 20 and age <= 29:
  print("20대")
if age >= 30 and age <= 39:
  print("30대")

print("== 정답 v2 ==")
if age >= 10 and age <= 19:
  print("10대")
elif age >= 20 and age <= 29:
  print("20대")
elif age >= 30 and age <= 39:
  print("30대")

print("== 정답 v3 ==")
if age >= 10 and age <= 19:
  print("10대")
elif age >= 20 and age <= 29:
  print("20대")
else:
  print("30대")

print("== 정답 v4 ==")
if age >= 10:
  if age <= 19:
    print("10대")

if age >= 20:
  if age <= 29:
    print("20대")

if age >= 30:
  if age <= 39:
    print("30대")

print("== 정답 v5 ==")
if age <= 19:
  print("10대")
elif age <= 29:
  print("20대")
elif age <= 39:
  print("30대")

print("== 정답 v6(깔끔) ==")
if age <= 19:
  print("10대")
elif age <= 29:
  print("20대")
else:
  print("30대")

print("== 정답 v7 ==")
if age >= 30:
  print("30대")
elif age >= 20:
  print("20대")
elif age >= 10:
  print("10대")

print("== 정답 v7(깔끔) ==")
if age >= 30:
  print("30대")
elif age >= 20:
  print("20대")
else:
  print("10대")

== 정답 v1 ==
30대
== 정답 v2 ==
30대
== 정답 v3 ==
30대
== 정답 v4 ==
30대
== 정답 v5 ==
30대
== 정답 v6(깔끔) ==
30대
== 정답 v7 ==
30대
== 정답 v7(깔끔) ==
30대

In [42]:
age = 33
if age <= 19:
    print("할인 대상입니다.")
elif age >= 60:
    print("할인 대상입니다.")
else:
    print("할인 대상이 아닙니다.")

if age <= 19 or age >= 60:
    print("할인 대상입니다.")
else:
    print("할인 대상이 아닙니다.")

if age > 19 and age < 60:
    print("할인 대상이 아닙니다.")
else :
    print("할인 대상입니다.")

할인 대상이 아닙니다.
할인 대상이 아닙니다.
할인 대상이 아닙니다.

In [48]:
i = 1
while i <= 5:
    print(i)
    i += 1

i = 5
while i >= 1:
    print(i)
    i -= 1

1
2
3
4
5
5
4
3
2
1

In [63]:
i = 1
while(i <= 20):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [60]:
i = 10
while(i >= -5):
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5

In [51]:
i = 1
while(i <= 10):
    if(i % 2 == 0):
        print(i)
    i += 1

2
4
6
8
10

In [53]:
i = 1
while(i <= 10):
    if(i % 3 == 0):
        print(i)
    i += 1

3
6
9

In [55]:
i = 1
sum = 0
while(i <= 5):
    sum += i
    i += 1
print(sum)

15

In [57]:
i = 1
sum = 0
while(i <= 100):
    if(i % 2 == 0):
        sum += i
    i += 1
print(sum)

2550

In [65]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [68]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [72]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [77]:
for i in range(1, 10):
    for j in range(1, 10):
        print(f"{i}*{j} : {i * j}")

1*1 : 1
1*2 : 2
1*3 : 3
1*4 : 4
1*5 : 5
1*6 : 6
1*7 : 7
1*8 : 8
1*9 : 9
2*1 : 2
2*2 : 4
2*3 : 6
2*4 : 8
2*5 : 10
2*6 : 12
2*7 : 14
2*8 : 16
2*9 : 18
3*1 : 3
3*2 : 6
3*3 : 9
3*4 : 12
3*5 : 15
3*6 : 18
3*7 : 21
3*8 : 24
3*9 : 27
4*1 : 4
4*2 : 8
4*3 : 12
4*4 : 16
4*5 : 20
4*6 : 24
4*7 : 28
4*8 : 32
4*9 : 36
5*1 : 5
5*2 : 10
5*3 : 15
5*4 : 20
5*5 : 25
5*6 : 30
5*7 : 35
5*8 : 40
5*9 : 45
6*1 : 6
6*2 : 12
6*3 : 18
6*4 : 24
6*5 : 30
6*6 : 36
6*7 : 42
6*8 : 48
6*9 : 54
7*1 : 7
7*2 : 14
7*3 : 21
7*4 : 28
7*5 : 35
7*6 : 42
7*7 : 49
7*8 : 56
7*9 : 63
8*1 : 8
8*2 : 16
8*3 : 24
8*4 : 32
8*5 : 40
8*6 : 48
8*7 : 56
8*8 : 64
8*9 : 72
9*1 : 9
9*2 : 18
9*3 : 27
9*4 : 36
9*5 : 45
9*6 : 54
9*7 : 63
9*8 : 72
9*9 : 81